# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

In [11]:
df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [3]:
df.groupby('Branch')['Total'].sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [4]:
df.loc[df['Branch'] == df.groupby('Branch')['Total'].sum().idxmax(), 'City'].iloc[0]

'Naypyitaw'

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [5]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [6]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

# –¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è

**–ì—ñ–ø–æ—Ç–µ–∑–∏:**

1. –Ø–∫—ñ —Ç–∏–ø–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ (Member vs Normal) –≥–µ–Ω–µ—Ä—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ —É –∫–æ–∂–Ω—ñ–π —Ñ—ñ–ª—ñ—ó?
2. –Ø–∫—ñ –ø—Ä–æ–¥—É–∫—Ç–æ–≤—ñ –ª—ñ–Ω—ñ—ó –º–∞—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ —ñ –Ω–∞–π–±—ñ–ª—å—à—É —á–∞—Å—Ç–∫—É –ø—Ä–æ–¥–∞–∂—ñ–≤?
3. –Ø–∫–∏–π –≤—ñ–¥—Å–æ—Ç–æ–∫ –ø–æ–∫—É–ø–æ–∫ –ø—Ä–∏–ø–∞–¥–∞—î –Ω–∞ –∫–æ–∂–µ–Ω —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ (Cash / Ewallet / Credit card)?

### –ì—ñ–ø–æ—Ç–µ–∑–∞ 1. –Ø–∫—ñ —Ç–∏–ø–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ (Member vs Normal) –≥–µ–Ω–µ—Ä—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ —É –∫–æ–∂–Ω—ñ–π —Ñ—ñ–ª—ñ—ó?

In [7]:
pd.pivot_table(df, index='Branch', columns='Customer type', values='Total', aggfunc='sum')

Customer type      Member     Normal
Branch
A              53637.4755  52562.895
B              53704.6860  52492.986
C              56881.2825  53687.424

In [8]:
df.groupby('Branch')['Total'].sum().to_frame()

              Total
Branch
A       106200.3705
B       106197.6720
C       110568.7065

**–í–∏—Å–Ω–æ–≤–∫–∏ —Ç–∞ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**
- –£ –≤—Å—ñ—Ö —Ñ—ñ–ª—ñ—è—Ö —á–ª–µ–Ω–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ (Members) –ø—Ä–∏–Ω–æ—Å—è—Ç—å –±—ñ–ª—å—à–µ –¥–æ—Ö–æ–¥—É, –Ω—ñ–∂ –∑–≤–∏—á–∞–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ. –¶–µ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∂—É—î –µ—Ñ–µ–∫—Ç–∏–≤–Ω—ñ—Å—Ç—å –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ —Ç–∞ –≤–∫–∞–∑—É—î –Ω–∞ –ø–æ—Ç–µ–Ω—Ü—ñ–∞–ª —Ä–æ—Å—Ç—É —á–µ—Ä–µ–∑ –∑–∞–ª—É—á–µ–Ω–Ω—è Normal-–∫–ª—ñ—î–Ω—Ç—ñ–≤ —É Member. 
- –†–µ–∫–æ–º–µ–Ω–¥—É—î—Ç—å—Å—è –ø–æ—Å–∏–ª–∏—Ç–∏ —Å—Ç–∏–º—É–ª–∏ –¥–ª—è –≤—Å—Ç—É–ø—É –≤ –ø—Ä–æ–≥—Ä–∞–º—É —Ç–∞ —ñ–Ω–≤–µ—Å—Ç—É–≤–∞—Ç–∏ –±—ñ–ª—å—à–µ —É –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –¥–ª—è Member-–∫–ª—ñ—î–Ω—Ç—ñ–≤.

### –ì—ñ–ø–æ—Ç–µ–∑–∞ 2. –Ø–∫—ñ –ø—Ä–æ–¥—É–∫—Ç–æ–≤—ñ –ª—ñ–Ω—ñ—ó –º–∞—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ —ñ –Ω–∞–π–±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞–∂—ñ–≤?

In [9]:
df.groupby('Product line').agg({'gross income':'sum', 'Invoice ID':'count'}).sort_values(by='gross income', ascending=False)

                        gross income  Invoice ID
Product line
Food and beverages         2673.5640         174
Sports and travel          2624.8965         166
Electronic accessories     2587.5015         170
Fashion accessories        2585.9950         178
Home and lifestyle         2564.8530         160
Health and beauty          2342.5590         152

**–í–∏—Å–Ω–æ–≤–∫–∏ —Ç–∞ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**
- –ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è ‚Äî Food and Beverages. –ú–∞—î –Ω–∞–π–≤–∏—â–∏–π gross income —Å–µ—Ä–µ–¥ —É—Å—ñ—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π. –ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–∂—ñ–≤ —Ç–∞–∫–æ–∂ –≤–∏—Å–æ–∫–∞ (174). –¶–µ –∫–ª—é—á–æ–≤–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è-–ª—ñ–¥–µ—Ä, –Ω–∞ —è–∫—É –º–æ–∂–Ω–∞ —Ä–æ–±–∏—Ç–∏ –∞–∫—Ü–µ–Ω—Ç —É –º–∞—Ä–∫–µ—Ç–∏–Ω–≥—É, –∞–∫—Ü—ñ—è—Ö —Ç–∞ –ø—Ä–æ—Å—É–≤–∞–Ω–Ω—ñ.

- –ö–∞—Ç–µ–≥–æ—Ä—ñ—è Fashion accessories –º–∞—î –Ω–∞–π–±—ñ–ª—å—à—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–∂—ñ–≤ (178), –∞–ª–µ –Ω–µ —î –ø–µ—Ä—à–æ—é –ø–æ –ø—Ä–∏–±—É—Ç–∫—É. –¶–µ –æ–∑–Ω–∞—á–∞—î, —â–æ —Ç–æ–≤–∞—Ä–∏ –¥–µ—à–µ–≤—à—ñ, —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –Ω–∏–∂—á–∏–π, –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –¥–æ–±—Ä–µ –ø—Ä–æ–¥–∞—î—Ç—å—Å—è, –∞–ª–µ –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –º–µ–Ω—à–µ –ø—Ä–∏–±—É—Ç–∫—É –Ω–∞ –æ–¥–Ω—É —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—é.

- Sports and travel —Ç–∞ Electronic accessories‚Äî –≤–∏—Å–æ–∫–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ (–≤—Ö–æ–¥—è—Ç—å –≤ –¢–û–ü-3) —Ç–∞ —Å—Ç–∞–±—ñ–ª—å–Ω—ñ –ø—Ä–æ–¥–∞–∂—ñ.

- Home and lifestyle —Ç–∞ Health and beauty ‚Äî –Ω–∞–π—Å–ª–∞–±—à—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó. –ù–∞–π–Ω–∏–∂—á–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ —Ç–∞ –Ω–∞–π–º–µ–Ω—à–µ –ø—Ä–æ–¥–∞–∂—ñ–≤ —É Health and beauty. –¶–µ –º–æ–∂–µ –æ–∑–Ω–∞—á–∞—Ç–∏: –∞–±–æ –Ω–∏–∑—å–∫–∏–π —ñ–Ω—Ç–µ—Ä–µ—Å –≤ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–∏—Ö —Ñ—ñ–ª—ñ—è, –∞–±–æ –Ω–µ–≤–¥–∞–ª–µ –ø—Ä–æ—Å—É–≤–∞–Ω–Ω—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.

- –ó–∞–≥–∞–ª—å–Ω—ñ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –¥–ª—è –º–µ—Ä–µ–∂—ñ: 
    - —ñ–Ω–≤–µ—Å—Ç—É–≤–∞—Ç–∏ –±—ñ–ª—å—à–µ —É Food and Beverages —Ç–∞ Fashion accessories, —Ç–∞–∫, —è–∫ –≤–æ–Ω–∏ —î –ª—ñ–¥–µ—Ä–∞–º–∏ –ø–æ –ø—Ä–∏–±—É—Ç–∫—É —Ç–∞ –ø—Ä–æ–¥–∞–∂–∞–º;
    - –ø—Ä–æ—Å—É–≤–∞—Ç–∏ —Ç–∞ —Ä–æ–∑–≤–∏–≤–∞—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Sports and Travel —Ç–∞ Electronic Accessories, —Ç–æ–º—É —â–æ –æ–±–∏–¥–≤—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –¥–µ–º–æ–Ω—Å—Ç—Ä—É—é—Ç—å —Å—Ç–∞–±—ñ–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ —ñ –ø—Ä–æ–¥–∞–∂—ñ;
    - —â–æ–¥–æ –Ω–∞–π—Å–ª–∞–±—à–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π Home & Lifestyle —Ç–∞ Health & Beauty –ø–æ—Ç—Ä—ñ–±–Ω–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –¥–µ—Ç–∞–ª—å–Ω–∏–π –∞–Ω–∞–ª—ñ–∑ —Ü–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —É —Ä–æ–∑—Ä—ñ–∑—ñ —Ñ—ñ–ª—ñ–π —Ç–∞ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—É —Å—Ç—Ä–∞—Ç–µ–≥—ñ—é —Ü–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

### –ì—ñ–ø–æ—Ç–µ–∑–∞ 3. –Ø–∫–∏–π –≤—ñ–¥—Å–æ—Ç–æ–∫ –ø–æ–∫—É–ø–æ–∫ –ø—Ä–∏–ø–∞–¥–∞—î –Ω–∞ –∫–æ–∂–µ–Ω —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ (Cash / Ewallet / Credit card)?

In [10]:
df.Payment.value_counts(normalize=True)

Payment
Ewallet        0.345
Cash           0.344
Credit card    0.311
Name: proportion, dtype: float64

**–í–∏—Å–Ω–æ–≤–∫–∏ —Ç–∞ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**
- –ó–∞–≥–∞–ª—å–Ω–∞ –∫–∞—Ä—Ç–∏–Ω–∞ –ø–æ–∫–∞–∑—É—î, —â–æ –∫–ª—ñ—î–Ω—Ç–∏ –∞–∫—Ç–∏–≤–Ω–æ –∫–æ—Ä–∏—Å—Ç—É—é—Ç—å—Å—è —è–∫ –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω–∏–º–∏ –≥–∞–º–∞–Ω—Ü—è–º–∏, —Ç–∞–∫ —ñ –≥–æ—Ç—ñ–≤–∫–æ—é, –∞ –æ–ø–ª–∞—Ç–∞ –∫–∞—Ä—Ç–∫–æ—é —Ç—Ä–æ—Ö–∏ –º–µ–Ω—à –ø–æ—à–∏—Ä–µ–Ω–∞.

- –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
    - –ó–±—ñ–ª—å—à–∏—Ç–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫–∞—Å —Å–∞–º–æ–æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è, –æ—Å–∫—ñ–ª—å–∫–∏ —á–∞—Å—Ç–∫–∞ –±–µ–∑–≥–æ—Ç—ñ–≤–∫–æ–≤–∏—Ö –ø–ª–∞—Ç–µ–∂—ñ–≤ (Ewallet —Ç–∞ Card —Å—Ç–∞–Ω–æ–≤–∏—Ç—å –±–ª–∏–∑—å–∫–æ 65%);
    - –•–æ—á–∞ —Ç—Ä–µ–Ω–¥ —ñ–¥–µ —É –±—ñ–∫ —Ü–∏—Ñ—Ä–æ–≤–∏—Ö –ø–ª–∞—Ç–µ–∂—ñ–≤, –≤—Å–µ —â–µ –≤–∞—Ä—Ç–æ –º–∞—Ç–∏ –¥–æ—Å—Ç–∞—Ç–Ω—å–æ –∫–∞—Å, –¥–µ –º–æ–∂–Ω–∞ —Ä–æ—Ä–∞—Ö–æ–≤—É–≤–∞—Ç–∏—Å—è –≥–æ—Ç—ñ–≤–∫–æ—é, –∞–¥–∂–µ —á–∞—Å—Ç–∫–∞ –æ–ø–ª–∞—Ç–∏ Cash —Å—Ç–∞–Ω–æ–≤–∏—Ç—å –º–∞–π–∂–µ 35%.