# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: –í–Ω–µ—Å–µ–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω—å –≤ –ë–î —ñ —Ä–æ–±–æ—Ç–∞ –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.

In [13]:
import datetime
import requests
import json
import os

from datetime import timedelta
from dotenv import load_dotenv
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd
import seaborn as sns
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

In [5]:
def create_connection():
    load_dotenv()
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = 'classicmodels'

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")
    
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    engine = create_engine(
        connection_string,
        pool_size=2,
        max_overflow=20,
        pool_pre_ping=True,
        echo=False
    )

    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None
    
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3307/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3307/classicmodels)


## –ó–∞–≤–¥–∞–Ω–Ω—è

### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)

**–°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞ –∑–∞ –π–æ–≥–æ –Ω–æ–º–µ—Ä–æ–º** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—è–º–∏:
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É –∫–ª—ñ—î–Ω—Ç–∞
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î –≤ —Ç–∞–±–ª–∏—Ü—ñ)

–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ, —è–∫—â–æ –≤–∞–º —Ö–æ—á–µ—Ç—å—Å—è –±—ñ–ª—å—à–µ –ø—Ä–∞–∫—Ç–∏–∫–∏:
- –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –≤ –æ–∫—Ä–µ–º—É —Ç–∞–±–ª–∏—Ü—é

–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—ñ–¥—Ö—ñ–¥ –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–∏–º–∏ –∑–∞–ø–∏—Ç–∞–º–∏ —á–µ—Ä–µ–∑ `text()` —Ç–∞ `UPDATE` –æ–ø–µ—Ä–∞—Ç–æ—Ä. –ù–µ –∑–∞–±—É–¥—å—Ç–µ –Ω–∞ –ø–æ—á–∞—Ç–∫—É –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —á–∏ —ñ—Å–Ω—É—î –∫–ª—ñ—î–Ω—Ç –∑ —Ç–∞–∫–∏–º –Ω–æ–º–µ—Ä–æ–º –≤ –±–∞–∑—ñ - —Ü–µ —Ö–æ—Ä–æ—à–∞ –ø—Ä–∞–∫—Ç–∏–∫–∞.

–û—Ç—Ä–∏–º–∞—Ç–∏ –≤—Å—ñ –∫–æ–ª–æ–Ω–∫–∏, —è–∫—ñ —ñ—Å–Ω—É—é—Ç—å –≤ —Ç–∞–±–ª–∏—Ü—ñ –≤–∏ –º–æ–∂–µ—Ç–µ –Ω–∞—Å—Ç—É–ø–Ω–∏–º –∑–∞–ø–∏—Ç–æ–º
```
  SELECT COLUMN_NAME, DATA_TYPE
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_NAME = 'customers'
```

–ó–∞–ø—É—Å—Ç—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —ó—ó —Ä–æ–±–æ—Ç—É, –∑–∞–ø—É—Å—Ç–∏–≤—à–∏ SELECT, —è–∫–∏–π –¥–æ–ø–æ–º–æ–∂–µ —Ü–µ –∑—Ä–æ–±–∏—Ç–∏.

In [10]:
def update_customer_contact_info(engine, customerNumber, new_phone=None, new_email=None):

    if new_phone is None and new_email is None:
        print("‚ö†Ô∏è –ù–µ –ø–µ—Ä–µ–¥–∞–Ω–æ –¥–∞–Ω–∏—Ö –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è")
        return False

    with engine.connect() as conn:
        with conn.begin():
            try:
                # –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —á–∏ —ñ—Å–Ω—É—î –∫–ª—ñ—î–Ω—Ç
                check_customer = text("SELECT customerName FROM customers WHERE customerNumber = :customerNumber")
                result1 = conn.execute(check_customer, {'customerNumber': customerNumber})
                customer = result1.fetchone()

                if not customer:
                    print(f"‚ùå –ö–ª—ñ—î–Ω—Ç {customerNumber} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–∏–π")
                    return False

                customer_name = customer[0]
                print(f" –û–Ω–æ–≤–ª—é—î–º–æ –∫–æ–Ω—Ç–∞–∫—Ç–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –¥–ª—è {customer_name} (ID: {customerNumber})")

                # –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —á–∏ —ñ—Å–Ω—É—î –∫–æ–ª–æ–Ω–∫–∞
                check_columns = text("""
                    SELECT COLUMN_NAME
                    FROM INFORMATION_SCHEMA.COLUMNS
                    WHERE TABLE_SCHEMA = DATABASE()
                    AND TABLE_NAME = 'customers'
                    """)
                
                columns = conn.execute(check_columns).fetchall()
                column_names = {col[0].lower() for col in columns}

                updates = []
                params = {"customerNumber": customerNumber}

                if new_phone is not None:
                    updates.append("phone = :new_phone")
                    params["new_phone"] = new_phone

                if new_email is not None:
                    if "email" in column_names:
                        updates.append("email = :new_email")
                        params["new_email"] = new_email
                    else:
                        print("‚ÑπÔ∏è –ö–æ–ª–æ–Ω–∫–∞ email –≤—ñ–¥—Å—É—Ç–Ω—è –≤ —Ç–∞–±–ª–∏—Ü—ñ customers ‚Äî –æ–Ω–æ–≤–ª–µ–Ω–Ω—è email –ø—Ä–æ–ø—É—â–µ–Ω–æ")

                if not updates:
                    print("‚ö†Ô∏è –ù–µ–º–∞—î –∫–æ–ª–æ–Ω–æ–∫ –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è")
                    return False

                update_query = text(f"""
                    UPDATE customers
                    SET {", ".join(updates)}
                    WHERE customerNumber = :customerNumber
                    """)

                result2 = conn.execute(update_query, params)

                print(f"‚úÖ –ö–æ–Ω—Ç–∞–∫—Ç–Ω—ñ –¥–∞–Ω—ñ –æ–Ω–æ–≤–ª–µ–Ω–æ")

                return True

            except Exception as e:
                print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ –æ–Ω–æ–≤–ª–µ–Ω–Ω—ñ: {e}")
                return False

In [11]:
# –¢–µ—Å—Ç—É—î–º–æ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É
customerNumber = 103
success = update_customer_contact_info(
    engine,
    customerNumber,
    new_phone="40.67.4555",
    new_email="try@gmail.com"
)

 –û–Ω–æ–≤–ª—é—î–º–æ –∫–æ–Ω—Ç–∞–∫—Ç–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –¥–ª—è Atelier graphique (ID: 103)
‚ÑπÔ∏è –ö–æ–ª–æ–Ω–∫–∞ email –≤—ñ–¥—Å—É—Ç–Ω—è –≤ —Ç–∞–±–ª–∏—Ü—ñ customers ‚Äî –æ–Ω–æ–≤–ª–µ–Ω–Ω—è email –ø—Ä–æ–ø—É—â–µ–Ω–æ
‚úÖ –ö–æ–Ω—Ç–∞–∫—Ç–Ω—ñ –¥–∞–Ω—ñ –æ–Ω–æ–≤–ª–µ–Ω–æ

In [12]:
check_query = text("""
    SELECT 
        customerNumber,             
        customerName, 
        phone
    FROM customers
    WHERE customerNumber = :customerNumber
""")

customerNumber = 103

result = pd.read_sql(
    check_query, 
    engine,
    params={'customerNumber': customerNumber},
)

display(result)

   customerNumber       customerName       phone
0             103  Atelier graphique  40.67.4555

### –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—î—é (5 –±–∞–ª—ñ–≤)

**–†–µ–∞–ª—ñ–∑—É–π—Ç–µ –ø—Ä–æ—Ü–µ—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –∫—Ä–æ–∫–∞–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó:
- –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
- –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
- –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
- –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –ø—Ä–æ—Ü–µ—Å –∑ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –¥–∞–Ω–∏–º–∏ —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —á–µ—Ä–µ–∑ SELECT, —â–æ –ø—Ä–æ—Ü–µ—Å —É—Å–ø—ñ—à–Ω–æ –≤—ñ–¥–ø—Ä–∞—Ü—é–≤–∞–≤ —ñ –±—É–ª–∏ –≤–∏–∫–æ–Ω–∞–Ω—ñ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó.

In [17]:
def create_order(engine, requiredDate, customerNumber: int, order_items: list [dict[str, int]], comments = None):
    """
    order_items: —Å–ø–∏—Å–æ–∫ —Å–ª–æ–≤–Ω–∏–∫—ñ–≤ –≤–∏–¥—É:
    [
        {"productCode": str, 
        "quantityOrdered": int},
        ...
    ]
    """
    
    if not order_items:
        print("‚ö†Ô∏è –°–ø–∏—Å–æ–∫ —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ—Ä–æ–∂–Ω—ñ–π")
        return None
    
    today = datetime.date.today()
    
    # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ requiredDate
    if requiredDate is None:
        requiredDate = today + timedelta(days=7)
    if requiredDate < today:
            raise ValueError("requiredDate –Ω–µ –º–æ–∂–µ –±—É—Ç–∏ —Ä–∞–Ω—ñ—à–µ –∑–∞ orderDate")
    
    for i, item in enumerate(order_items, start=1):
        if "productCode" not in item or "quantityOrdered" not in item:
            raise ValueError(f"order_items[{i}] –º–∞—î –º—ñ—Å—Ç–∏—Ç–∏ productCode —ñ quantityOrdered")
        if int(item["quantityOrdered"]) <= 0:
            raise ValueError(f"order_items[{i}].quantityOrdered –º–∞—î –±—É—Ç–∏ > 0")

    with engine.connect() as conn:
        with conn.begin():
            try:
                # –ö—Ä–æ–∫ 1. –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ –Ω–∞—è–≤–Ω—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç–∞ –≤ –±–∞–∑—ñ
                check_customer = text("SELECT customerName FROM customers WHERE customerNumber = :customerNumber")
                customer = conn.execute(check_customer, {'customerNumber': customerNumber}).fetchone()
                if not customer:
                    raise ValueError(f"‚ùå –ö–ª—ñ—î–Ω—Ç {customerNumber} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–∏–π")
                
                customer_name = customer[0]
                print(f"üë§ –î–æ–¥–∞—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ {customer_name}(ID: {customerNumber})")
                
                # –ö—Ä–æ–∫ 2. –í–∏–∑–Ω–∞—á–∞—î–º–æ –Ω–æ–º–µ—Ä –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è
                find_last_orderNumber = text("SELECT MAX(orderNumber) FROM orders FOR UPDATE")
                result1 = conn.execute(find_last_orderNumber).fetchone()
                last_orderNumber = result1[0]
                if last_orderNumber is None:
                    orderNumber = 10000
                else:
                    orderNumber = last_orderNumber + 1

                # –ö—Ä–æ–∫ 3. –°—Ç–≤–æ—Ä—é—î–º–æ –∑–∞–ø–∏—Å –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –≤ orders
                insert_new_order = text("""
                    INSERT INTO orders (orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber)
                    VALUES (:orderNumber, :orderDate, :requiredDate, NULL, 'In Process', :comments, :customerNumber)
                """)

                conn.execute(insert_new_order, {
                    'orderNumber': orderNumber,
                    'orderDate': today,
                    'requiredDate': requiredDate,
                    'customerNumber': customerNumber,
                    'comments': comments
                })

                find_price_stock = text("SELECT MSRP, quantityInStock FROM products WHERE productCode = :productCode FOR UPDATE")
                
                insert_orderdetails = text("""
                    INSERT INTO orderdetails (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                    VALUES (:orderNumber, :productCode, :quantityOrdered, :priceEach, :orderLineNumber)
                """)

                update_stock = text("""
                    UPDATE products 
                    SET quantityInStock = quantityInStock - :quantityOrdered
                    WHERE productCode = :productCode
                        AND quantityInStock >= :quantityOrdered
                """)
                
                # –ö—Ä–æ–∫ 4. –í–∏–∑–Ω–∞—á–∞—î–º–æ orderLineNumber –¥–ª—è –∫–æ–∂–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä—É –≤ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—ñ
                for line_number, item in enumerate(order_items, start=1):
                    productCode = item["productCode"]
                    quantityOrdered = int(item["quantityOrdered"])
                
                    # –ö—Ä–æ–∫ 5. –ó–Ω–∞—Ö–æ–¥–∏–º–æ —Ü—ñ–Ω—É —Ç–æ–≤–∞—Ä—É —Ç–∞ –π–æ–≥–æ –∫—ñ–ª-—Ç—å –Ω–∞ —Å–∫–ª–∞–¥—ñ
                    product_details = conn.execute(find_price_stock, {'productCode': productCode}).fetchone()
                    if not product_details:
                        raise ValueError(f"‚ùå –¢–æ–≤–∞—Ä {productCode} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–∏–π")
                
                    priceEach, quantityInStock = product_details
                
                    # –ö—Ä–æ–∫ 6. –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —á–∏ –¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É –Ω–∞ —Å–∫–ª–∞–¥—ñ
                    if quantityOrdered > quantityInStock:
                        raise ValueError(f"‚ùå –ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É ({productCode}) –Ω–∞ —Å–∫–ª–∞–¥—ñ (—î {quantityInStock}, –ø–æ—Ç—Ä—ñ–±–Ω–æ {quantityOrdered})")
                
                    # –ö—Ä–æ–∫ 7. –ó–º–µ–Ω—à—É—î–º–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—É –Ω–∞ —Å–∫–ª–∞–¥—ñ 
                    result2 = conn.execute(update_stock, {
                        'quantityOrdered': quantityOrdered,
                        'productCode': productCode
                    })
                    
                    if result2.rowcount == 0:
                        raise ValueError(f"‚ùå –ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É ({productCode}) –Ω–∞ —Å–∫–ª–∞–¥—ñ")
                    
                    # –ö—Ä–æ–∫ 8. –î–æ–¥–∞—î–º–æ —Ç–æ–≤–∞—Ä–Ω—ñ –ø–æ–∑–∏—Ü—ñ—ó –≤ orderdetails                   
                    conn.execute(insert_orderdetails, {
                        'orderNumber': orderNumber,
                        'productCode': productCode,
                        'quantityOrdered': quantityOrdered,
                        'priceEach': priceEach,
                        'orderLineNumber': line_number
                    })

                    

                print(f'‚úÖ –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è –¥–ª—è {customer_name} (ID: {customerNumber}) –¥–æ–¥–∞–Ω–æ!')
                return True
            
            except Exception as e:
                print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ –¥–æ–¥–∞–≤–∞–Ω–Ω—ñ: {e}")
                print("üîÑ –í—Å—ñ –∑–º—ñ–Ω–∏ –∞–≤—Ç–æ–º–∞—Ç–∏—á–Ω–æ —Å–∫–∞—Å–æ–≤–∞–Ω–æ (ROLLBACK)")
                raise

In [18]:
customer_id = 119
user_required_date = datetime.date(2025, 12, 30)
test_order_items = [
    {"productCode": "S12_3380", "quantityOrdered": 55},
    {"productCode": "S24_2011", "quantityOrdered": 23}
]
success = create_order(
    engine,
    user_required_date,
    customer_id,
    test_order_items
)

üë§ –î–æ–¥–∞—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ La Rochelle Gifts(ID: 119)
‚úÖ –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è –¥–ª—è La Rochelle Gifts (ID: 119) –¥–æ–¥–∞–Ω–æ!

In [23]:
full_check = text("""
    SELECT 
        o.orderNumber,
        o.customerNumber,
        o.orderDate,
        od.productCode,
        od.quantityOrdered,
        od.priceEach,
        od.orderLineNumber
    FROM orders o
        JOIN orderdetails od ON o.orderNumber = od.orderNumber
        JOIN products p ON od.productCode = p.productCode
    WHERE o.orderDate = :orderDate
    """)

today = datetime.date.today()

check = pd.read_sql(
    full_check,
    engine,
    params={'orderDate': today}
)

display(check)

,orderNumber,customerNumber,orderDate,productCode,quantityOrdered,priceEach,orderLineNumber
0,10426,119,2025-12-23,S12_3380,55,117.44,1
1,10426,119,2025-12-23,S24_2011,23,122.89,2